body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #faeee7;
  transition: background-color .6s cubic-bezier(.7, 0, .7, 1);  
  
}

.dark {
  background: #594a4e;
  transition: color .4s cubic-bezier(.7, 0, .7, 1);
}

.darkToggle:checked {
  background: #333;
  transition: color .4s cubic-bezier(.7, 0, .7, 1);
}

.nav-head-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #ffc6c7;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
}

.logo {
  display: flex;
  flex-shrink: 0;
  font-size: 44px;
  font-weight: 700;
  color:#33272a;
}

.background-mode-toggle {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
}

.nav-menu-options {
  margin-left: auto;
}

.game-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  overflow:auto;
}

.player-container,
.computer-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #ffc6c7;
  border-style: outset;
  border-color: #c3f0ca;
  border-radius: 15px;
  padding: 25px;
  height: 284px;
  width: 287px;
}

.computer-container{
  align-items: center;
}

.player-action-container{
  display: flex;
  justify-content: space-around;
}
.player-action-container > button {
  width: 75px;
  height: 75px;
  gap: 20px; 
}


.player-action {
  font-weight:600;
  color: #33272a;
  background-color: #ff8ba7;
  transition: background-color .6s cubic-bezier(.7, 0, .7, 1); 
  
}

.player-action:hover{
  background-color:#fd96ae;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.player-title {
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.game-middle-board{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.game-scoreboard,
.gameAnnouncement {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 20px;
  color: #91d29b;
}
.game-scoreboard{
  font-size: 65px;
}

.gameAnnouncement{
  font: size 44px;
}
.computer-title{
  display: flex;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
